{% extends "admin/change_form.html" %}
{% load static %}

{% block after_related_objects %}
  <h2>Products</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    <table>
      {% for form in formset %}
        <tr>
          <td>{{ form.product }}</td>
          <td>{{ form.area }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit" class="default">Save</button>
  </form>
{% endblock %}
